<h4 class="sidebar-summary">{{localize "PF2E.Item.SidebarSummary" type=(localize "ITEM.TypeFeat")}}</h4>

<span class="item-summary">{{localize (lookup featTypes data.featType.value)}}</span>
{{# if data.requirements.value }}<span class="item-summary">{{data.requirements.value}}</span>{{/if}}

<ol class="item-tags">
  {{#if data.level.value}}
      <li class="tag">{{localize data.level.label}}</li>
  {{/if}}
  <li class="tag">{{#with (lookup rarities data.traits.rarity.value) as |rarity|}}{{localize rarity.label}}{{/with}}</li>
  {{#each traits as |trait|}}
      {{#if trait.selected}}
          <li class="tag">{{localize trait.label}}</li>
      {{/if}}
  {{/each}}
</ol>

{{#unless (any (eq data.featType.value "classfeature") (eq data.featType.value "ancestryfeature") (eq data.featType.value "curse") (eq data.featType.value "dietyboon") )}}
  <span class="item-summary">{{localize "PF2E.FeatPrereqLabel"}}</span>
  <ol class="item-tags">
  {{#each data.prerequisites.value as |v k|}}
      <li class="tag {{k}}">{{v.value}}</li>
  {{/each}}
  </ol>
{{/unless}}
