<div class="chat-damage-buttons">
    <button type="button" class="full-damage" title="{{localize 'PF2E.DamageButton.Full'}}"><i class="fas fa-user-minus"></i></button>
    <button type="button" class="half-damage" title="{{localize 'PF2E.DamageButton.Half'}}"><i class="fas fa-user-shield"></i></button>
    <button type="button" class="double-damage" title="{{localize 'PF2E.DamageButton.Double'}}"><i class="fas fa-user-injured"></i></button>
    {{#if showTripleDamage}}
        <button type="button" class="triple-damage" title="{{localize 'PF2E.DamageButton.Triple'}}"><i class="fas fa-fast-forward"></i></button>
    {{/if}}
    <button type="button" class="shield-block dice-total-shield-btn"><i class="fas fa-shield-alt"></i></button>
    <button type="button" class="heal-damage" title="{{localize 'PF2E.DamageButton.Healing'}}"><i class="fas fa-user-plus"></i></button>
</div>
<div class="hover-content select-shield">
    <div class="sidebar_title">
        <h2>{{localize "PF2E.Actions.ShieldBlock.SelectAShield"}}</h2>
    </div>
    <ul class="shield-options">
        <template>
            <li class="item">
                <input class="data" name="shield-id" type="radio" value="" />
                <span class="label"></span>
                <span class="tag"></span>
            </li>
        </template>
    </ul>
</div>
